@import 'variables';
@import 'normalize';

/***************** Common Styles *****************/
html {
	font-size: 62.5% /* makes font 10px */
}
body {
	font-family: 'Montserrat', sans-serif;
	padding:0;
}
h1,h2,h3,p {
	color: $color-font;
}
h1,h2,h3 {
	letter-spacing:-1px;
}
img {
	width:100%;
}
h1 {
	font-size:3rem;
	font-weight:400;
	margin-bottom:30px;
}
h2 {
	font-size:2rem;
	margin-bottom:20px;
}
h3 {
	font-size: 1.8rem;
}
p, li, span, a, input[type='text'] {
	font-size:1.5rem;
}
p {
	line-height:150%;
	margin:0;
}
a {
	color:black;
	text-decoration:none;
}

.wrapper {
		margin: 0 auto;
		width:90%;
		max-width:1366px;
}
.flex-container {
	display:flex;
}
.half {
	width: calc(50% - 20px);
}
.third {
	width: calc(33.33% - 20px);
}
.twothirds {
	width: calc(66.66% - 20px);
}
.quarter {
	width: calc(25% - 20px);
}
.threequarters {
	width: calc(75% - 20px);
}
.block-container {
	with:100%;
}
.block {
	float:left;
	padding:0;
	margin:0 20px 20px 0;
}
section {
	padding:50px 0;
	h1, h2, h3 {
		text-align:center;
	}
}

/***************** Header Section *****************/

header {
	background: url(../images/header1.jpg);
	background-position: center;
	background-size: cover;
	width:100%;
	height:88vh;
	position:relative;
	padding-top:159px;
	nav {
		width:100%;
		padding:0;
		position:fixed;
		top:0;
		left:0;
		background-color: rgba(0,0,0,0.8);
    	padding-bottom: 20px;
    	z-index: 1;
		.logo {
			width:150px;
			margin:0 auto;
			margin-top: 20px;
			margin-bottom:20px;
			img {
				margin-left:50%;
				margin-right:50%;
				transform: translate(-50%, 0);
		 		-ms-transform: translate(-50%, 0);
	 		}
		}
		ul {
			display:flex;
			justify-content: space-between;
			margin:0;
			padding:0;
			border-top:2px solid white;
			li {
				list-style-type: none;
				margin:0;
				text-align: center;
				a {
					text-decoration: none;
					color:white;
				}
				a:before {
					content: '';
					width:10px;
					height:10px;
					border-radius:50%;
					border:2px solid white;
					padding:2px;
					background: #222;
					display:block;
					position:relative;
					left:50%;
					top:-10px;
					transition:all 0.5s;
					transform: translate(-50%, 0);
 					transform-origin: 150% 50%;
	 				-ms-transform: translate(-50%, 0);  /* IE 9 */
 					-ms-transform-origin: 150% 50%;  /* IE 9 */
 					-webkit-transform: translate(-50%, 0); /* Chrome, Safari, Opera */
 					-webkit-transform-origin: 150% 50%; /* Chrome, Safari, Opera */
				}
				a:hover:before {
					
					background:$color-primary;
					transform: scale(1.5);
				}
			}
		}
	}
	nav.navOverlay {
		display: block;
		position: fixed;
		top:0;
		left:0;
		right:0;
		
		background-color: rgba(0,0,0,0.8);
	}
	//nav overlay
	.navOverlay {
		p,a,i {
			color:white;
		}
		ul {
			flex-direction: column;
			padding-top: 20px;
			border:none;
			width: 100%;
			li {
				margin-bottom: 15px;
				text-align: left;
			}
			a {
				font-size: 2rem;
				width:100%;
			}
			a:before {
				display: none;
			}
		}
		.hamburger { //the hamburger icon on the nav overlay
			display:block;
		}
	}
	//the hamburger icon on the main nav
	.hamburger { 
		display: none;
		position:absolute;
		top:15px;
		right:15px;
		font-size: 4rem;
		color: white;
	}
	//adding more content inside the overlay
	.overlayContent { 
		display:none;
	}
	.navOverlay .overlayContent {
		display:block;
		margin-top: 30px;
		padding-top:10px;
		border-top: 1px solid white;
		ul {
			width:200px;
			list-style-type:none;
			margin-top:30px;
			padding:0;
			display: flex;
			flex-direction: row;
			li i {
				justify-content: space-between;
				font-size: 3rem;
			}
		}
		form {
		display: flex;
		margin:10px 0;
		position: relative;
		max-width:500px;

		input[type=text] {
			width: 100%;
			font-size: 1.2rem;
			background-color: #eee;
			border-radius:5px;
			border:0;
			padding:10px;
			height:30px;
		}
		.searchButton {
			position:absolute;
			top:0;
			right:0;
			width:30px;
			height:30px;
			margin:auto;
			display: flex;
			align-items: center;
			justify-content: center;
			i {
				font-size: 2rem;
				color:$color-secondary;
			}
		}
	}
	}
	.newsCarousel {
		position:relative;
		left: 50%;
		top:50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
		padding:50px 70px;
		width:40%;
		max-width: 700px;
		min-width: 250px;
		background-color: rgba(255,255,255,0.8);
		.newsItem {
			width:100%;
			h2 {
				margin-top:0;
			}
		}
	}	
}


/***************** Trip Planner Section *****************/

.planner {
	background: $color-primary;
	width:100%;
	height:12vh;
	margin:0;
	display:flex;
	align-items: center;
	padding:10px 0;
	h2 {
		color:white;
		flex-grow:1;
		flex-basis: 150px;
		margin:0;
		margin-top:8px;
	}
	form {
		display:flex;
		align-items: center;
		flex-grow:8;
		justify-content: center;
		span {
			color:white;
		}
		input[type=text] {
			width: 100%;
			height:25px;
			margin-left:10px;
			margin-right:30px;
			background: white;
			border:0;
			padding-left:10px;
		}
		.send {
			background: white;
			padding:5px;
			width:30px;
			height:30px;
			border-radius: 50%;
			text-align: center;
			a {
				color:$color-primary;
				position:relative;
				top:-1px;
				font-size:2rem;
			}
		}
		.send:hover {
			background: $color-secondary;
		}
		.field {
			display: flex;
			width:35%;
		}
	}
}




/***************** Schedules Icons *****************/

.schedules .threequarters .flex-container {
	justify-content:space-between;
}



/***************** Alerts box *****************/

.alerts {
	border: 2px dashed red;
	padding:30px;
	margin-left: 100px;
	margin-top:20px;
	text-align: center;
	ol {
		padding-left:20px;
		margin: 0;
		margin-left:10px;
		text-align: left;

		  list-style-type: none;
		li {
			font-size: 1.3rem;
			margin-bottom: 20px;
			counter-increment: step-counter;
			position: relative;
		}
		li::before {
			content: counter(step-counter);
			width:6px;
			height:14px;
			margin-right: 5px;
			font-size: 80%;
			background-color: $color-primary;
			color: white;
			font-weight: bold;
			padding: 3px 8px;
			border-radius: 50%;
			position: absolute;
		    top: 0;
		    left: -3em;
		}
	}
	.more {
		font-size:1.2rem;
		text-transform: uppercase;
		padding:5px 15px;
		color:white;
		background-color: $color-primary;
		border: 0.5px solid $color-primary;
	}
	.more:hover {
		background: white;
		color:$color-secondary;
		border: 0.5px solid $color-secondary;
	}
}



/***************** Fares Section *****************/

.fares {
	background: #eee;
	padding:80px 0;
	text-align: center;
	h2 {
		text-align: left;
		flex-grow:1;
		flex-basis: 150px;
	}
	ul {
		display:flex;
		align-items: center;
		flex-grow:5;
		justify-content:space-between;
		margin-top:20px;
		margin-bottom:30px;
		padding:0;
		li {
			list-style-type: none;
			margin:0;
			text-align: center;
			span {
				display:block;
			}
		}
	}
	input { //hide checkbox
		display:none;
		visibility: hidden;
	}
	label { //the text for the checkbox
		display:block;
		width:100px;
		margin: 0 auto;
		font-size:1.2rem;
		text-transform: uppercase;
		border: 0.5px solid $color-secondary;
		padding:5px 15px;
	}
	label::before {
		content: "See All";
	}
	.expand {
		height: 0px;
		overflow:hidden;
	}
	#toggle:checked ~ .expand {
		height:100%;
	}
	#toggle:checked ~ label::before {
		content: "See Less";
	}
	.expand table {
		border-collapse: collapse;
   	 	width: 100%;
   	 	font-size:1.5rem;
   	 	margin-top:20px;
   	 	th, td {
		    padding: 10px;
		    width: 30%;
		    text-align: left;
		}
		td {
		    border-bottom: 1px solid #ccc;
		}
		th {
			border-bottom:2px solid #aaa;
			border-top:2px solid #aaa;
		}
	}
}


/***************** Riding the TTC section *****************/

.riding {
	.block {
		position:relative;
		img {
			display:block;
		}
	}
	.flickity-prev-next-button.previous {
		left:-25px;
	}
	.flickity-prev-next-button.next {
		right: -25px;
	}
	.flickity-page-dots {
		bottom:-10px;
	}
	.ridingCarousel:after { //enables Flickity - added this so I can disable Flickity on small screens
		content: 'flickity';
		display: none; /* hide :after */
	}
	.buttonOverlay {
		position:absolute;
		top: 0;
	  	bottom: 0;
	  	left: 0;
	 	right: 0;
	 	height: 100%;
	 	width: 100%;
	 	background-color: $color-primary;
	 	opacity:.85;
	 	transition: opacity .5s ease;
	    -moz-transition: opacity .5s ease;
	    -webkit-transition: opacity .5s ease;
	    -o-transition: opacity .5s ease;
	}
	.block:hover .buttonOverlay {
		opacity:.2;
	}
	figcaption {
		color: white;
		width:100px;
		text-align:center;
	    padding: 0;
	  	position: absolute;
	 	top:50%;
	 	left: 50%;
	 	transform: translate(-50%, -50%);
	 	-ms-transform: translate(-50%, -50%);
	 	a {
	 		color: white;
	 		font-size: 1.8rem;
	 	}
	 	a:before {
			content: '';
			width:100%;
			border-top:1px solid white;
			display:block;
			position:relative;
			left:50%;
			top:-10px;
			transform: translate(-50%, -50%);
	 		-ms-transform: translate(-50%, -50%);
		}
		a:after {
			content: '';
			width:100%;
			border-top:1px solid white;
			display:block;
			position:relative;
			left:50%;
			bottom:-10px;
			transform: translate(-50%, -50%);
		 	-ms-transform: translate(-50%, -50%);
		}

	}
}




/***************** Footer Section *****************/

footer {
	background-color: black;
	padding:50px 0;
	color:white;
	p {
		color:white;
	}
	.contact {
		margin-top: 20px;
		font-size:1.5rem;
		span {
			color: $color-primary;
			margin: 0 10px;
		}
		ul {
			width:150px;
			list-style-type:none;
			// margin:0 auto;
			margin-top: 20px;
			padding:0;
			display: flex;
			flex-direction: row;
			li {
				justify-content: space-between;
				flex-grow: 1;
				a {
					font-size: 2rem;
				}
				i {
					color:white;
				}
			}
		}
	}
}




/*****************************************************************************************/
/****************************** resizing for smaller screens******************************/
/*****************************************************************************************/



/*********** screens smaller than 1120px (large tablets) ***********/

@media (max-width:1120px) {
	.schedules .alerts {
		ol li:not(.item1) {
		 display:none;
		}
	}
	.fares {
		padding: 40px;
		.flex-container {
			flex-direction: column;
			h2 {
				text-align: center;
				flex-basis:40px;
			}
		}
	}
}


/*********** screens smaller than 900px (smaller tablets) ***********/

@media (max-width:900px) {
	h1 {
		font-size: 2.4rem;
	}
	h2 {
		font-size: 1.8rem;
		margin-top:0;
	}
	header {
		padding-top:148px;
		.logo img {
			width:80%;
		}
		.newsCarousel {
			width: 60%;
		}
	}
	.planner .flex-container {
		flex-direction: column;
		height: 100%;
		h2 {
			flex-basis: 0;
			margin-top:10px;
			margin-bottom: 0px;
		}
		form .field {
			width:45%;
		}
	}
	.schedules > .flex-container {
		flex-direction: column;

	}
	.schedules .threequarters {
			width:100%;
	}
	.schedules .quarter {
		width: 100%;
		margin-left:0;
		ol li {
			text-align: center;
		}
		li::before {
			display:none;
		}
	}
	.fares {
		padding: 20px;
		.flex-container {
			h2 {
				flex-basis:20px;
			}
		}
	}
	.riding .block {
		width:calc(50% - 20px);
	}
	.riding figcaption {
 		a:before, a:after {
 			border-top:none;
 		}
 	}
}



/*********** screens smaller than 768px (Ipad) ***********/

@media (max-width:768px) {
	.fares {
		padding: 20px;
		.flex-container {
			h2 {
				flex-basis:0px;
				margin-bottom:0;
			}
			ul {
				flex-direction: column;
				li {
					margin-bottom: 5px;
				}
				li span {
					display:inline;
				}
				li span ~ span {
					margin-left:10px;
				}
				li span ~ span:before {
					content: '•';
					position: relative;
					left:-7px;
					color: $color-primary;
				}
			}
		}
	}
}

/*********** screens smaller than 660px (somewhere between an ipad and a mobile phone)***********/
@media (max-width: 660px) {
		header {
			padding-top:108px;
			nav .logo {
				margin-top: 25px;
				img {
				width:70%;
				}
			}
			.hamburger { //shows the hamburger on the main nav
				display: block;
			}
			nav .wrapper {
				display:none;
			}
			nav .wrapper.show {
				display:block;
				border-top: none;
				ul li a:before {
					display:none;
				}
				ul li a:hover:before {
					display:none;
				}
			}
		}
		footer p {
			font-size: 1.3rem;
		}
		footer .contact {
			display: none;
		}
		.planner .flex-container {
			align-items:center;
			padding:10px;
			flex-direction: row;
			h2 {
				margin-bottom: 0;
				text-align:right;
				flex-basis: 100px;
			}
			form .field {
				display: none;
			}
			form {
				justify-content: left;
				flex-grow:1;
			}
			form .send {
				margin-left:10px;
				margin-top:8px;
			}
		}
}


/*********** screens smaller than 480px (mobile phones) ***********/

@media (max-width: 480px) {
	section, footer {
		padding:20px 0;
	}
	header {
		.newsCarousel {
			padding:50px 35px;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			width: 100%;
		}
	}
	.flickity-prev-next-button {
		display: none;
	}
	.flickity-page-dots {
		display: none;
	}
	.schedules h3 {
		font-size: 1.3rem;
	}
	.riding {
		.ridingCarousel {
			margin-top: 30px;
		}
		.ridingCarousel:after { //disables Flicity
			content: '';
		}
		.block {
			width:100%;
			img {
				display: none;
			}
			.buttonOverlay {
				display: none;
			}
			figcaption {
				width:100%;
				position:relative;
				a {
					color:#414042;
				}
				a:before {
					content: '';
					width:200px;
					border-top:1px dashed $color-primary;
					position: relative;
					left:50%;
					top:-10px;
				}
			}
		}
	}
}

